In [6]:
print("yong")

yong

In [15]:
11 + 14

25

calculation formula

In [13]:
10 * 4

40

In [20]:
a = 11
b = 6
d = a + 1
c = d * b

print(c)

72

In [21]:
c

72

In [22]:
a

11

In [29]:
a = 12

In [30]:
a

12

In [31]:
b = 6
d = a + 1
c = d * b

print(c)

78

In [32]:
import pandas as pd

data = pd.read_csv("Employees.csv")

data.head

<bound method NDFrame.head of    E1001     John   Thomas  123456  ...  100 100000  30001  2
0  E1002    Alice    James  123457  ...  200  80000  30002  5
1  E1003    Steve    Wells  123458  ...  300  50000  30002  5
2  E1004  Santosh    Kumar  123459  ...  400  60000  30004  5
3  E1005    Ahmed  Hussain  123410  ...  500  70000  30001  2
4  E1006    Nancy    Allen  123411  ...  600  90000  30001  2
5  E1007     Mary   Thomas  123412  ...  650  65000  30003  7
6  E1008  Bharath    Gupta  123413  ...  660  65000  30003  7
7  E1009   Andrea    Jones  123414  ...  234  70000  30003  7
8  E1010      Ann    Jacob  123415  ...  220  70000  30004  5

[9 rows x 11 columns]>

In [33]:
data.head()

   E1001     John   Thomas  123456  ...  100 100000  30001  2
0  E1002    Alice    James  123457  ...  200  80000  30002  5
1  E1003    Steve    Wells  123458  ...  300  50000  30002  5
2  E1004  Santosh    Kumar  123459  ...  400  60000  30004  5
3  E1005    Ahmed  Hussain  123410  ...  500  70000  30001  2
4  E1006    Nancy    Allen  123411  ...  600  90000  30001  2

[5 rows x 11 columns]

# Data (Header1)
## Data (Header2)
### Data (Header3)
#### Data (Header4)
##### Data (Header5)
###### Data (Header6)

### italic
*ABCD*<br>
_ABCD_

#### Bold
**ABCD**
** ABCD **

#### Bold + Italic
***ABCD***

#### List
1. ABCD
2.ABCD

* ABCD
*ABCD

#### Url
[Click Me](https://www.google.com)

#### Image
![ABCD](data_science_methodolog.jpg)
![Google](http://www.google.com.au/images/nav_logo7.png)


#### Url + Image
[![Google](http://www.google.com.au/images/nav_logo7.png)](https://www.google.com)